apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-devh
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-devh
    app.kubernetes.io/part-of: tkrw-pr714-0075-0002-app
  name: devfile-sample-devh
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: devfile-sample-devh
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: devfile-sample-devh
    spec:
      containers:
      - image: quay.io/pmacik-testing/tkrw-pr714-0075-0002-tenant/tkrw-pr714-0075-0002-app/devfile-sample-devh@sha256:c92eac309b7ee9fbb9da410ade5977557827f0aa451ef2d423fa7c8b63823d48
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
